.container{background-color: #272B3F !important; height: 100vh !important; padding: 20px !important; }
.row{width: 100% !important; }
h2{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 40px;
/* identical to box height, or 125% */
margin-top: 10px;
display: flex;
align-items: center;

/* White */

color: #FFFFFF;
}
.card{
    background: #343E56;
border-radius: 4px;


}
.add-dep{
    display: flex;
flex-direction: row;
align-items: center;
height: 40px;
padding: 8px 24px;
background: #1ABC9C;
border-radius: 4px;
font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

text-align: center;
letter-spacing: 0.03em;
margin-right: 14px;

/* White */

color: #FFFFFF;
border: none;
}

.card h1{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 48px;
/* identical to box height, or 120% */

display: flex;
align-items: center;
letter-spacing: 0.01em;

/* White */

color: #FFFFFF;
}
@media (min-width: 1200px)
{.container  {
    max-width: 1366px !important;
}}

.card-body .title{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    
    /* Gray/30 */
    
    color: #B1B9D1; 
}
h1 sup{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

display: flex;
align-items: center;
letter-spacing: 0.01em;

/* red */

color: #F24C42;
}
.sub{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

display: flex;
align-items: center;
letter-spacing: 0.01em;

/* Gray/30 */

color: #8A91B1;
}
.card-body h5{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

display: flex;
align-items: center;
letter-spacing: 0.01em;

/* Gray/30 */

color: #8A91B1;
}

.donutchart{
    font-size: 9px;
    
}
.chart-label{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */
    
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 0.01em;
    margin-left: 8px;
    
    /* White */
    
    
}
.label-box{
   display: flex;
   height: 24px;
   align-items: baseline;
   color: #FFFFFF;
   
}
.label-point-passing{
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #1ABC9C;
    margin-right: 8px;

}
.label-point-atrisk{
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #FFB806;
    margin-right: 8px;
}
.label-point-failing{
    
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #F24C42;
    margin-right: 8px;
}
.label-box h5{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

display: flex;
align-items: center;
letter-spacing: 0.01em;

/* Gray/20 */

color: #B1B9D1;
}

@media (min-width: 768px){
    .chart-label{
        font-size: 8px;
    }
}

th{
    font-family: Montserrat;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 24px;
/* identical to box height, or 171% */

background-color:#171A2B;
align-items: center;
letter-spacing: 0.01em;

/* Gray/20 */

color: #B1B9D1;
}
.dep{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


align-items: center;
letter-spacing: 0.005em;

/* White */

color: #FFFFFF;
}

.dep span{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 16px;
/* identical to box height, or 123% */


align-items: center;
letter-spacing: 0.01em;

/* Gray/20 */

color: #B1B9D1;
}
tbody{
    background: #343E56;
}

tbody tr{
    border-bottom: 1px solid #171A2B;
}
.good{
    position: relative;
}
.good img{
    position: absolute;
left: 31.25%;
right: 31.25%;
top: 39.58%;
bottom: 35.42%;

}
.dep p{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

display: flex;
align-items: center;
letter-spacing: 0.005em;

/* White */

color: #FFFFFF;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 4px;
}

.sub{
    font-family: Montserrat;
font-style: normal !important;
font-weight: 500 !important;
font-size: 12px !important;
line-height: 16px !important;
/* identical to box height, or 133% */

display: flex;
align-items: center;
letter-spacing: 0.01em !important;

/* Gray/20 */

color: #B1B9D1 !important;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;
margin: 0px 0px;
}
.avg{
    position: relative;


}
.avg p{
    position: absolute;
    left: 31.25%;
right: 31.25%;
top: 39.58%;
bottom: 35.42%;

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;

}